OPENAI_API_KEY="your_openai_api_key_here"

SUPABASE_URL=https://jwuprtqrucyehpifknry.supabase.co/rest/v1/

SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp3dXBydHFydWN5ZWhwaWZrbnJ5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzc1MzYxNSwiZXhwIjoyMDk5MzI5NjE1fQ.f1y-5o93KRf_7Eqyj1bpi-F3K9EpL6ZLnW7mIBloCLg

PORT=8080